<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/base.css" />
        {% endblock %}
    </head>
    <body>
        <div id="page">
            <div class="banner">
                <img id="bannerImage" src="/static/img/website_banner.jpg" alt="Nick Michael's Website Banner">
            </div>
            <div class="navigation">
                <div class="innerNavigation">
                    <ul class="mainNavigation">
                            <li id="homeTab"><a href="/">Home</a></li>
                            <li id="artistsTab"><a href="/artists">Artists</a></li>
                            <li id="aboutTab"><a href="/about">About Us</a></li>
                            <li id="manageArtTab"><a href="/file">Manage Art</a></li>
                            <li id="login"><a href="{{loginURL}}">{{loginTitle}}</a></li>
                            <li id="searchbar">
                                <form id="searchForm" action="/search">
                                    <input class="searchItem" type="text" name="q" />
                                    <input class="searchItem" type="submit" name="sa" value="Search" />
                                </form>
                            </li>
                    </ul>
                 </div>
            </div>
            <div class="contentBox">
                <div class="innerContentBox">
                    {% block content %}
                        This is where the different content for each page goes (from child template)
                    {% endblock %}
                </div>
            </div>

            <div id="footer">
                {% block footer %}
                Web Design by Dustin Youngberg   &copy; Copyright 2014 by Avsolen, LLC.
                {% endblock %}
            </div>
        </div>
    </body>
</html>