{% extends "/templates/base.html" %}
{% block title %}Nick Michael's Fine Galler: Upload Photos{% endblock %}
{% block head %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/base.css" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <!-- production -->
    <script type="text/javascript" src="/static/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/static/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>

    <!-- debug
    <script type="text/javascript" src="../../js/moxie.js"></script>
    <script type="text/javascript" src="../../js/plupload.dev.js"></script>
    <script type="text/javascript" src="../../js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
    -->
{% endblock %}

{% block content %}

    <form id="form" method="post" action="/file/upload">
        <div id="uploader">
            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
        <br />
        <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript">
    // Initialize the widget when the DOM is ready
    $(function() {
        $("#uploader").plupload({
            // General settings
            runtimes : 'html5,flash,silverlight,html4',
            url : '/file/upload',

            // User can upload no more then 20 files in one go (sets multiple_queues to false)
            max_file_count: 20,

            chunk_size: '1mb',

            // Resize images on clientside if we can
            resize : {
                width : 200,
                height : 200,
                quality : 90,
                crop: true // crop to exact dimensions
            },

            filters : {
                // Maximum file size
                max_file_size : '1000mb',
                // Specify what files to browse for
                mime_types: [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Zip files", extensions : "zip"}
                ]
            },

            // Rename files by clicking on their titles
            rename: true,

            // Sort files
            sortable: true,

            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,

            // Views to activate
            views: {
                list: true,
                thumbs: true, // Show thumbs
                active: 'thumbs'
            },

            // Flash settings
            flash_swf_url : '../../js/Moxie.swf',

            // Silverlight settings
            silverlight_xap_url : '../../js/Moxie.xap',

            // PreInit events, bound before any internal events
            preinit : {
                UploadFile: function(up, file) {
                    $.ajax({
                        url: '/file/generate_upload_url',
                        async: false,
                        success: function(data) {
                          up.settings.url = data;
                        },
                    });
                }
            },

            // Post init events, bound after the internal events
            init : {

                FileUploaded: function(up, file, info) {
                    // Called when a file has finished uploading
                    log('[FileUploaded] File:', file, "Info:", info);
                }
            }
        });



        // Handle the case when form was submitted before uploading has finished
        $('#form').submit(function(e) {
            // Files in queue upload them first
            if ($('#uploader').plupload('getFiles').length > 0) {

                // When all files are uploaded submit form
                $('#uploader').on('complete', function() {
                    $('#form')[0].submit();
                });

                $('#uploader').plupload('start');
            } else {
                alert("You must have at least one file in the queue.");
            }
            return false; // Keep the form from submitting
        });
    });
    </script>
{% endblock %}