{% extends "/templates/adminBase.html" %}
{% block title %}Manage Photos{% endblock %}
{% block scriptsAndStylesheets %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/static/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="/static/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>

	<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/ajaxifyForms.js"></script>

    <script>
        $( document ).ready(function() {
            $(".tab").removeClass("active");
            $("#photosTab").addClass("active");
        });
    </script>

{% endblock %}

{% block content %}

    <form id="form" method="post" action="/admin/photos/upload">
        <div id="uploader">
            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
        <br />
    </form>

    <ul class="thumbnails" id="managePhotosThumbnails">
        {% for photo in photos %}
            <li class="span3">
                <div class="thumbnail">
                    <div style="text-align:center; height:200px; line-height:200px;"><img src="{{ photo.thumbnail }}"></div>
                    <div class="caption">
                        <div class="artpieceName">
                            <h5>{{ photo.file_name }}</h5>
                            <a data-toggle="modal"  href="#editPhotoModal" onclick="fillEditPhotoModalDefaults({{ photo.key.id() }},'{{ photo.file_name }}');" class="btn btn-medium">
                                <span class="glyphicon icon-edit"></span>
                            </a>
                            <a data-toggle="modal" data-id="{{ photo.key.id() }}" href="#deletePhotoModal" class="open-deletePhotoModal btn btn-medium">
                                <span class="glyphicon icon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>


    <div id="editPhotoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="EditPhotoModalLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Edit Photo Name</h3>
        </div>
        <div class="modal-body">
            <div class="divDialogElements">
                <form id="editPhotoForm" action="/admin/photos/edit" method="post">

                    <!-- Art Key -->
                    <input type="hidden" name="editPhotoKey" id="editPhotoKey"/>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="editPhotoName">Photo Name</label>
                        <div class="controls">
                            <input id="editPhotoName" name="editPhotoName" type="text" placeholder="Photo Name (i.e. DW002.jpg) " class="input-xlarge span5" required="">
                        </div>
                    </div>

                    <!-- Form Feedback -->
                    <div id="editPhotoFormMessage" class="alert alert-success serverFeedback" style="display:none;">
                        Message
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick="editPhotoCancelClicked();">Cancel</a>
            <a href="#" class="btn btn-primary" onclick="editPhotoSaveClicked();">Save Changes</a>
        </div>
    </div>


    <div id="deletePhotoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="DeletePhotoModalLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
            <div class="divDialogElements">
                Deleting this photo cannot be undone. Are you sure you want to proceed?
                <form id="deletePhotoForm" action="/admin/photos/delete" method="post">
                    <input type="hidden" name="deletePhotoKey" id="deletePhotoKey" value="" />

                    <!-- Form Feedback -->
                    <div id="deletePhotoFormMessage" class="alert alert-success serverFeedback" style="display:none;">
                        Message
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" onclick="deletePhotoDeleteClicked();">Delete</a>
            <a href="#" class="btn" onclick="deletePhotoCancelClicked();">Cancel</a>
        </div>
    </div>


    <script type="text/javascript">
    // Initialize the widget when the DOM is ready
    $(function() {
        $("#uploader").plupload({
            // General settings
            runtimes : 'html5,flash,silverlight,html4',
            url : '/admin/photos/upload',

            // User can upload no more then 20 files in one go (sets multiple_queues to false)
            max_file_count: 20,

            filters : {
                // Maximum file size
                max_file_size : '1000mb',
                // Specify what files to browse for
                mime_types: [
                    {title : "Image files", extensions : "jpg,gif,png,csv"},
                    {title : "Zip files", extensions : "zip"}
                ]
            },

            // Rename files by clicking on their titles
            rename: true,

            // Sort files
            sortable: true,

            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,

            // Views to activate
            views: {
                list: true,
                thumbs: true, // Show thumbs
                active: 'thumbs'
            },

            // Flash settings
            flash_swf_url : '../../js/Moxie.swf',

            // Silverlight settings
            silverlight_xap_url : '../../js/Moxie.xap',

            // PreInit events, bound before any internal events
            preinit : {
                UploadFile: function(up, file) {
                    $.ajax({
                        url: '/admin/photos/generate_upload_url',
                        async: false,
                        success: function(data) {
                          up.settings.url = data;
                        },
                    });
                },
            },

            // Post init events, bound after the internal events
            init : {

                FileUploaded: function(up, file, info) {
                    //refresh the page if everything is updated
                    if(up.total.queued == 0) {
                        location.reload();

                    }
                }
            }
        });



        // Handle the case when form was submitted before uploading has finished
        $('#form').submit(function(e) {
            // Files in queue upload them first
            if ($('#uploader').plupload('getFiles').length > 0) {

                // When all files are uploaded submit form
                $('#uploader').on('complete', function() {
                    $('#form')[0].submit();
                });

                $('#uploader').plupload('start');
            } else {
                alert("You must have at least one file in the queue.");
            }
            return false; // Keep the form from submitting
        });
    });
    </script>
{% endblock %}