{% extends "/templates/publicBase.html" %}
{% block title %}Nick Michael's Fine Gallery{% endblock %}

{% block content %}
<ul class="thumbnails">
    {% for category in categories %}
    <li class="span3">
        <div class="thumbnail">
            <span>{{ category.categoryName }}</span>
            <a href="{{'/category?categoryName='+category.categoryName}}"><div class="thumbnailHolder"><img src="{{ photos[category.key].thumbnail }}"></div></a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}