{% extends "/templates/publicBase.html" %}
{% block title %}{{ title }}{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function() {
            $("ul.nav li").removeClass("active");
            $('#fullSizePhoto').on('show', function () {
                $(this).find('.modal-body').css({width:'auto',
                                           height:'auto',
                                          'max-height':'100%'});
            });
        });
    </script>
{% endblock %}

{% block content %}
<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <a data-toggle="modal"  href="#fullSizePhoto">
                <div class="thumbnailHolder"><img src="{{ photo.thumbnail }}"></div>
            </a>
        </div>
    </li>
    <li class="span6">
        <div class="thumbnail" style="overflow:auto; height:200px;">
            <B><Font size=+1.5>{{ artpiece.name }} ({{ artpiece.itemNumber }})</Font> </B>
            <br>
            {{ artpiece.priceDisplay }}
            <br>
            <h5>Description</h5>
            {{ artpiece.description }}
        </div>
    </li>
    <li class="span3">
        <h5>Details</h5>
        <ul>
            <li>Dimensions: {{ artpiece.width }}"W x {{ artpiece.height }}"H x {{ artpiece.depth }}"D</li>
            <li>Weight: {{ artpiece.weight}} lbs.</li>
            <li>Mediums: {{ artpiece.mediums}}</li>
        </ul>
        {{ additionalSizes }}
    </li>
</ul>

<ul class="thumbnails">
    <li class="span6">
        <div class="thumbnail" style="overflow:auto; height:200px;">
            <h5>Artist Biography</h5>
            {{ artist.biography }}
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <div class="thumbnailHolder"><img src="{{ artist.picture.get().thumbnail }}"></div>
        </div>
    </li>
    <li class="span3">
        <h4>{{ artist.firstName }} {{ artist.lastName }}</h4>
        <a href="/artist?artistID={{ artist.key.id()}}"><div class="btn btn-primary">Other Art by Artist</div></a>

    </li>
</ul>

<div id="fullSizePhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fullSizePhoto" aria-hidden="true">
    <div class="modal-body">
        <div class="divDialogElements" style="text-align:center;">
            <img src="{{ photo.url }}">
            <br><br>
            <B><Font size=+1.5>{{ artpiece.name }} ({{ artpiece.itemNumber }})</Font> </B>
        </div>
    </div>
</div>

{% endblock %}