{% extends "/templates/publicBase.html" %}
{% block title %}Nick Michael's Fine Gallery{% endblock %}

{% block content %}
<ul class="thumbnails">
    {% for category in categories %}
    <li class="span3">
        <div class="thumbnail">
            <span>{{ category.categoryName }}</span>
            <a href="{{'/category?categoryName='+category.categoryName}}"><img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="{{ photos[category.key].url }}"></a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}